footer.page-footer {
    margin-top: 0;
}

.chip {
    background-color: #0094ff;
    color: #ffffff;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #f5f5f5;
}

main {
    flex: 1 0 auto;
}

main > section {
    display: none;
}

img.materialboxed.initialized {
    width: 100%;
}

.input-field {
    margin-top: 2rem;
}

.progress {
    margin: 0;
}

.divider {
    height: 3px;
}